body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.search-box input, .search-box button {
  margin: 5px;
  padding: 5px;
}

#poem-list div {
  border-bottom: 1px solid #c41111;
  padding: 10px;
}
.vydelit_epitet {
  background-color: rgb(183, 117, 245);
  font-weight: bold;
}

.vydelit_metaphoru {
  color: red;
  font-style: italic;
}
.vydelit_olistetvorenie{
  color:rgb(198, 248, 61);
  font-weight: bold;
}
.doopolnenie_epitet{
background-color:rgb(212, 183, 240);
font-weight: bold;
}
